body {
	margin: 0;
	background-color:#F8D1D5;
}

#header {
	height: 10%;
	width: 100%;
	background-color: lightgrey;
	border-bottom: 1px solid black;
}

#pipeline {
	width: 25%;
	float: left;
	position: absolute;
}

.pipeline-element {
	width: 100%;
	height: 20%;
	font-weight: bold;
	position: relative;
}

.pipeline-text {
	height: 100%;
	width: 25%;
	float: left;
	
	font-size: 1.5vw;
	text-align: center;
	vertical-align: middle;
	position: relative;
}

.pipeline-image {
	height: 100%;
	width: 70%;
	float: right;
	position: relative;
}

.pipeline-element img {
	height: 100%;
	width: 100%;
}

.vertical-text {
	writing-mode: vertical-rl;
	text-orientation: upright;
	float: right;
	position: relative;
	left: 30%;
	top: 7.5%;
}

#pipeline-options {
	width: 75%;
	float: right;
	background-color: lightgrey;
}

.arrow-down {
  width: 0; 
  height: 0;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  
  border-top: 200px solid #f00;
}

textarea {
	width: 500px;
	height: 100px;
}

#export_button {
	height: 100%;
	width: 200px;
	float: right;
	font-size: 24px;
}

td {
	min-width: 120px;
	padding: 5px;
}

#header h1 {
	float: left;
	margin-left: 20px;
}

.pipeline-options-container {
	margin: 10px;
}