body {
	margin: 0;
	background-color:#F8D1D5;
	font-family: sans-serif;
	height: 100vh;
}

#header {
	height: 10%;
	width: 100%;
	background-color: #FDEFEF;
	float: left;
}

.heading {
	color: #83D0E0;
	text-align: center;
	font-size: 36px;
}

#pipeline {
	width: 15%;
	float: left;
}

.pipeline-element {
	width: 100%;
	height: 300px;
	font-weight: bold;
}

.pipeline-text {
	height: 100%;
	width: 25%;
	float: left;
	font-size: 1.5vw;
	color: #BB4B9F;
}

.pipeline-image {
	height: 100%;
	width: 70%;
	float: right;
}

.pipeline-element img {
	height: 100%;
	width: 100%;
}

.vertical-text {
	writing-mode: vertical-rl;
	text-orientation: upright;
	float: right;
	margin-top: 10px;
}

#pipeline-options {
	width: 85%;
	float: right;
	background-color: #F8D1D5;
}

textarea {
	width: 500px;
	height: 100px;
}

.main_button {
	width: 200px;
	float: right;
	font-size: 24px;
	height: 100%;
}

td {
	min-width: 120px;
	padding: 5px;
}

#header h1 {
	float: left;
	margin-left: 20px;
}

.pipeline-options-container {
	margin: 20px;
}

#unicorn-options-wrapper {
	width: 100%;
	float: left;
}

#unicorn-options {
	margin: 20px;
}

#summary-wrapper {
	float: left;
}

#summary {
	margin: 20px;
}