@use 'styles/viewports';
@font-face {
  font-family: "Muli-Regular";
  src: url("../../lib/fonts/muli/Muli-Regular.ttf"); }

@font-face {
  font-family: "Muli-SemiBold";
  src: url("../../lib/fonts/muli/Muli-SemiBold.ttf"); }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Muli-Regular";
  font-size: 15px;
  margin: 0;
  padding: 5%;
  padding-top: 4%; }

input, button, textarea {
  font-family: "Muli-Regular";
  font-size: 15px; }

p, h1, h2, h3, h4, h5, h6, ul {
  margin: 0; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  margin: auto;
  display: block; }

h3 {
  font-family: "Muli-SemiBold";
  font-size: 22px;
  color: #453e79;
  text-transform: uppercase;
  letter-spacing: 7px;
  padding: 5px 15px;
  display: inline-block;
  border: 1px solid #dad8e4; }

p {
  font-family: "Muli-SemiBold";
  font-size: 20px;
  color: #83D0E0;
  text-align: center;
  margin-bottom: 20px; }

:focus {
  outline: none; }

.wrapper {
  background: #F8D1D5;
  display: flex;
  align-items: center;
  justify-content: center; }

.wizard {
  width: 920px;
  position: relative; }

.wizard > .steps {
  position: absolute;
  top: 27.44%;
  transform: translateX(50%);
  z-index: 9; }

h2 .step-text {
  display: none; }

.step-text {
  font-size: 15px; }

.wizard > .steps {
  position: absolute;
  top: 107.5%;
  right: 50%;
  transform: translateX(50%);
  z-index: 9; }

.wizard > .steps .current-info, .wizard > .steps .number {
  display: none; }

.wizard > .steps ul {
  display: flex;
  justify-content: center; }

.wizard > .steps li a {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #e9e0cf;
  margin-right: 78px;
  position: relative; }
  .wizard > .steps li a:before {
    content: "";
    width: 58px;
    height: 2px;
    background: #e9e0cf;
    position: absolute;
    right: 22px;
    top: 5px; }
  .wizard > .steps li a:after {
    content: "";
    width: 0;
    height: 2px;
    background: #6d7f52;
    position: absolute;
    left: -68px;
    top: 5px;
    transition: all 0.6s ease; }

.wizard > .steps li.first a {
  background: #6d7f52; }

.wizard > .steps li.checked a {
  background: #6d7f52; }
  .wizard > .steps li.checked a:after {
    width: 58px; }

.wizard > .steps li:last-child a {
  margin-right: 0; }

.wizard > .steps li:first-child a:before {
  display: none; }

.wizard > .steps li:first-child a:after {
  display: none; }

.wizard > .content {
  position: relative;
  height: 550px; }

.page {
  background: #fff;
  height: 650px;
  padding: 25px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2); }

.image-holder {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-bottom: 10px; }

.stable-img {
  height: 100px; }

.form-content {
  overflow: auto;
  height: 400px;
  padding-top: 51px;
  padding-left: 51px;
  padding-right: 51px;
  margin-bottom: 65px;
  margin-top: 10px;
  margin-left: 51px;
  margin-right: 51px; }

.form-header {
  text-align: center; }

.form-row {
  display: flex;
  margin-bottom: 18px; }
  .form-row .form-holder {
    width: 50%; }
    .form-row .form-holder:last-child {
      margin-right: 0; }
    .form-row .form-holder.w-100 {
      width: 100%;
      margin-right: 0; }

.form-holder {
  position: relative; }
  .form-holder i {
    position: absolute;
    bottom: 7px;
    right: 0;
    font-size: 17px; }

.form-text {
  text-align: left;
  font-size: 15px;
  height: 37px;
  border: none;
  width: 200px;
  color: #666;
  padding-top: 10px; }

.form-control {
  height: 37px;
  border: none;
  border-bottom: 2px solid #e6e6e6;
  width: 100%;
  color: #666; }
  .form-control:focus {
    border-color: #e9e0cf; }
  .form-control::-webkit-input-placeholder {
    color: #999; }
  .form-control::-moz-placeholder {
    color: #999; }
  .form-control:-ms-input-placeholder {
    color: #999; }
  .form-control:-moz-placeholder {
    color: #999; }

.actions {
  position: absolute;
  right: 51px;
  top: 105%; }
  .actions ul {
    display: flex; }
  .actions li a {
    padding: 0;
    border: none;
    display: inline-flex;
    height: 41px;
    width: 135px;
    align-items: center;
    background: #e9e0cf;
    font-family: "Muli-SemiBold";
    color: #666;
    cursor: pointer;
    position: relative;
    padding-left: 28px; }
    .actions li a:before {
      content: '\f301';
      position: absolute;
      top: 14px;
      right: 28px;
      font-family: Material-Design-Iconic-Font; }
    .actions li a:hover {
      background: #cfc7b8; }
  .actions li:first-child a {
    width: 144px;
    padding-left: 48px; }
    .actions li:first-child a:before {
      content: '\f2ff';
      position: absolute;
      top: 14px;
      left: 26px;
      font-family: Material-Design-Iconic-Font; }
  .actions li:nth-child(2) a, .actions li:last-child a {
    margin-left: 520px; }
  .actions li:last-child a {
    width: 135px;
    background: #6d7f52;
    color: #fff; }
    .actions li:last-child a:hover {
      background: #849963; }
  .actions li[aria-disabled="true"] a {
    opacity: 0;
    transition: all 1s; }
  .actions li[aria-disabled="false"] ~ li a {
    background: #6d7f52;
    color: #fff; }
    .actions li[aria-disabled="false"] ~ li a:hover {
      background: #849963; }

.text-content p {
  font-size: 1rem;
  text-align: left;
  color: black;
  font-weight: normal; }

.form-row.danger input {
  border-bottom: 2px solid #EF5350; }
  .form-row.danger input::placeholder {
    color: #EF5350; }

.form-row.danger p {
  color: #EF5350; }

.form-row.required-row .form-holder:first-child p:after {
  content: '*'; }

.btn-group {
  display: flex;
  justify-content: space-around; }

.btn {
  min-width: 144px;
  padding: 1em;
  border-radius: 0;
  border: 0; }
  .btn.btn-primary {
    background-color: #6d7f52;
    color: white; }
    .btn.btn-primary:hover {
      background-color: #849963; }

#deploy-controls {
  margin-bottom: 2.5em;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1em; }

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.5); }

.modal {
  position: absolute;
  z-index: 999;
  background: white;
  padding: 3rem;
  min-width: 50vw;
  min-height: 50vh; }
  .modal .modal-header {
    font-size: 2em;
    border-bottom: 1px solid #ddd;
    padding: 0.5rem; }
  .modal .modal-body {
    padding: 0.5rem;
    height: 100%; }

.progress-bar {
  min-height: 2rem;
  width: 100%; }
  .progress-bar .progress-bar-wrapper {
    min-height: 2rem;
    background: #eee; }
    .progress-bar .progress-bar-wrapper .progress-bar-progress {
      min-height: 2rem;
      background: green;
      transition: width 0.5s ease-in-out 0s; }
